body {
  background-color: #E9AFAF; 
}
h1 {
  text-align: center;
  display: block;
  font-family: 'Roboto'; font-size: 22px;
  color: #ffffff
}
img {
  height: auto;
  max-width:75%;
  max-height:75%;
}
div {
display: flex;
justify-content: center;
}
