body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  font-family: 'Roboto'; 
  background-color: #E9AFAF; 
  color: #ffffff
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 75%;
}
